/* Default */
* {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background: linear-gradient(#000000, #0C134F, #101862, #0C134F, #000000);
    height: auto;
}

.highlight-small {
    font-weight: 500;
    color: #000;
    background-color: #ffe600;
}
/* Default end */

/* Body */
.navbar {
    background-color: #000;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar-brand img {
    height: 50px;
    width: auto;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: auto;
}

.hero h1 {
    font-size: clamp(2.5rem, 10vw, 10rem);
    font-weight: 700;
    color: #eee;
}

.hero h3 {
    font-size: clamp(1.3rem, 5vw, 6rem);
    font-weight: 700;
    color: #ffe600;
}

.hero p {
    font-size: clamp(0.75rem, 1vw, 2rem);
    font-weight: 300;
    color: #eee;
}

.icon {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
}

.footer {
    background-color: #000;
}

.background {
    background-color: #eee;
}

.purple {
    background-color: #5356FF;
}

.blue-bold {
    background-color: #378CE7;
}

.blue {
    background-color: #67C6E3;
}

.blue-light {
    background-color: #DFF5FF;
}

.text h1 {
    font-size: clamp(1.5rem, 4vw, 4.5rem);
    font-weight: 700;
    color: #000;
}

.text h3 {
    font-size: clamp(1.25rem, 2vw, 2.5rem);
    font-weight: 500;
}

.text p {
    font-size: clamp(1rem, 1vw, 1.5rem);
}

.card {
    object-fit: cover;
}

@media (min-width: 320px) {
    .hero p {
        width: 80%;
        margin: auto;
    }

    .container-jumbo {
        padding: 1rem;
    }

    .container-mini {
        padding: 2rem;
    }
}

@media (min-width: 768px) {
    .hero p {
        width: 50%;
        margin: auto;
    }
}

@media (min-width: 1024px) {
    .hero p {
        width: 40%;
        margin: auto;
    }

    .container-jumbo {
        padding: 3rem;
    }

    .container-mini {
        padding: 3rem;
    }
}
/* Body end */


.bubble-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bubble {
    width: 100px;
    height: 100px;
    background-color: #f0ad4e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

#coming-soon {
    text-align: center;
    margin: 50px 0;
    background-color: #f8f9fa; /* Background ringan */
    padding: 20px;
    border-radius: 10px;
}

#coming-soon h2 {
    font-size: 24px;
    color: #007bff;
}

#coming-soon p {
    font-size: 16px;
    color: #555;
}
 